# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [3]:
pizza=['Chicken Fajita Pizza','Afghani Tikka Pizza','Pepperoni Pizza']
for a in pizza:
    print("\t\t",a )

		 Chicken Fajita Pizza
		 Afghani Tikka Pizza
		 Pepperoni Pizza

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [4]:
pizza =['Chicken Fajita Pizza','Afghani Tikka Pizza','Pepperoni Pizza']
for a in pizza:
    print('\t\t i like ',a)

		 i like  Chicken Fajita Pizza
		 i like  Afghani Tikka Pizza
		 i like  Pepperoni Pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [5]:
for i in range(1,21):
    print("\t\t",i)

		 1
		 2
		 3
		 4
		 5
		 6
		 7
		 8
		 9
		 10
		 11
		 12
		 13
		 14
		 15
		 16
		 17
		 18
		 19
		 20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [6]:
for i in range(1,21,2):
    print("\t\t",i)

		 1
		 3
		 5
		 7
		 9
		 11
		 13
		 15
		 17
		 19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [7]:
table=int(3)
for num in range(1,11):
    print(f"\t\t {table} x {num} = {num*table}")

		 3 x 1 = 3
		 3 x 2 = 6
		 3 x 3 = 9
		 3 x 4 = 12
		 3 x 5 = 15
		 3 x 6 = 18
		 3 x 7 = 21
		 3 x 8 = 24
		 3 x 9 = 27
		 3 x 10 = 30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [8]:
for nm in range(1,11):
    print(f'\t\tthe cube for {nm} = {nm**3}')

		the cube for 1 = 1
		the cube for 2 = 8
		the cube for 3 = 27
		the cube for 4 = 64
		the cube for 5 = 125
		the cube for 6 = 216
		the cube for 7 = 343
		the cube for 8 = 512
		the cube for 9 = 729
		the cube for 10 = 1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [9]:
foods=["BEEF MANDI","KRAHI","BEEF BIRYANI","KORMA","CHINESE RICE","BIHARI KABAB","PASTA","FRIED FISH","KARRI"]
first=foods[:3]
mid=foods[4:6]
last=foods[7:]
print('The first three items in the list are :        ',first)
print('\nThree items from the middle of the list are :  ',mid)
print('\nThe last three items in the list are :         ',last)

The first three items in the list are :         ['BEEF MANDI', 'KRAHI', 'BEEF BIRYANI']

Three items from the middle of the list are :   ['CHINESE RICE', 'BIHARI KABAB']

The last three items in the list are :          ['FRIED FISH', 'KARRI']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [10]:
foods=["BEEF MANDI","KRAHI","BEEF BIRYANI","KORMA","CHINESE RICE","BIHARI KABAB","PASTA","FRIED FISH","KARRI"]
friend_foods=foods[1:9]
foods.append("Pizza Firies")
friend_foods.append("Khaosa")
print('My favorite foods are : ')
for f in foods:
    print("\t\t\t",f)
print("\n====>Second list <=====")
print('My friends favourite foods are : ')
for d in friend_foods:
    print("\t\t\t",d)

My favorite foods are :
			 BEEF MANDI
			 KRAHI
			 BEEF BIRYANI
			 KORMA
			 CHINESE RICE
			 BIHARI KABAB
			 PASTA
			 FRIED FISH
			 KARRI
			 Pizza Firies

====>Second list <=====
My friends favourite foods are :
			 KRAHI
			 BEEF BIRYANI
			 KORMA
			 CHINESE RICE
			 BIHARI KABAB
			 PASTA
			 FRIED FISH
			 KARRI
			 Khaosa

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [11]:
alien_color=input('Enter the Alien Color')
if alien_color == "red":
    print("the player just earned 5 points for shooting the alien")
elif alien_color =="green":
    print("the player just earned 10 points")
else:
    print("Alien is no more")

Enter the Alien Colorred
the player just earned 5 points for shooting the alien

In [12]:
alien_color=input('Enter the Alien Color')
if alien_color == "red":
    print("the player just earned 5 points for shooting the alien")
elif alien_color =="green":
    print("the player just earned 10 points")
else:
    print("Alien is no more")

Enter the Alien Colorgreen
the player just earned 10 points

In [13]:
alien_color=input('Enter the Alien Color')
if alien_color == "red":
    print("the player just earned 5 points for shooting the alien")
elif alien_color =="green":
    print("the player just earned 10 points")
else:
    print("Alien is no more")

Enter the Alien Coloryellow
Alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [14]:
age=int(input('Enter the age of the person  = '))
if age<2:
    print('The person is a baby')
elif age>=2 and age<4:
    print("The person is a toddler")
elif age>=4 and age<13:
    print("The person is a kid")
elif age>=13 and age<20:
    print("The person is a teenager")
elif age>=20 and age<65:
    print("The person is an Adult")
else:
    print("The person is an Elder")

Enter the age of the person  = 25
The person is an Adult

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [18]:
current_users= ["Fatima","sadaf","Areeba","mazhar","Shahdad"]
new_users=["anaya","john","SHAHDAD","mazhar","ahsan"]
current= [n.lower() for n in current_users]
for i in new_users:
    if i.lower() in current:
        print(i.title(),"already used in used,try something else")
else:
    print( i.title() , " username is available!")

Shahdad already used in used,try something else
Mazhar already used in used,try something else
Ahsan  username is available!

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [19]:
d= {}
d['First Name']= "Shahdad"
d["Last Name"]= "Pervez Sharif"
d["Age"]= 26
d["city"]= "Karachi"
print(d['First Name'])
print(d['Last Name'])
print(d["Age"])
print(d["city"])

Shahdad
Pervez Sharif
26
Karachi

In [20]:
d= {} 
d["First Name"]="Shahdad"
d["Last Name"]= "Pervez Sharif"
d["Age"]= 26
d["city"]= "Karachi"
print(d)

{'First Name': 'Shahdad', 'Last Name': 'Pervez Sharif', 'Age': 26, 'city': 'Karachi'}

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [21]:
d= {}
d['First Name']= "Shahdad"
d["Last Name"]= "Pervez Sharif"
d["Age"]= 26
d["city"]= "Karachi"

d.update(copy= "Returns a copy of the dictionary")
d.update(fromkeys= "Returns a dictionary with the specified keys and values")
d.update(get="Returns the value of the specified key")
d.update(items="Returns a list containing the a tuple for each key value pair")
d.update(keys="Returns a list containing the dictionary's keys")
d.update(pop="Removes the element with the specified key")
for keys,values in d.items():
    print(f'\t\t{keys} : {values}')

		First Name : Shahdad
		Last Name : Pervez Sharif
		Age : 26
		city : Karachi
		copy : Returns a copy of the dictionary
		fromkeys : Returns a dictionary with the specified keys and values
		get : Returns the value of the specified key
		items : Returns a list containing the a tuple for each key value pair
		keys : Returns a list containing the dictionary's keys
		pop : Removes the element with the specified key

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [22]:
d={}
d["Nile"]="egypt"
d["amazon"]="south america"
d["Furat"]="iraq"
for keys,values in d.items():
    print(f'\t\t{keys.upper()} runs through {values.upper()}')

		NILE runs through EGYPT
		AMAZON runs through SOUTH AMERICA
		FURAT runs through IRAQ

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [2]:
goat={"goat":"mubeen"}
dog={"dog":"john"}
cat={"cat":"sarina"}
anaconda={"ananconda":"sadiq"}
a_list = [goat,dog,cat,anaconda]
for a in a_list:
    for keys,values in a.items():
        print(f'\t\tthis',keys,"is owned by",values)

		this goat is owned by mubeen
		this dog is owned by john
		this cat is owned by sarina
		this ananconda is owned by sadiq